[submodule "scijava-parallel"]
	path = scijava-parallel
	url = https://github.com/fiji-hpc/scijava-parallel.git
[submodule "scijava-parallel-fst"]
	path = scijava-parallel-fst
	url = https://github.com/fiji-hpc/scijava-parallel-fst.git
[submodule "scijava-parallel-imagej-server"]
	path = scijava-parallel-imagej-server
	url = https://github.com/fiji-hpc/scijava-parallel-imagej-server.git
[submodule "utilization-monitor"]
	path = utilization-monitor
	url = https://github.com/fiji-hpc/utilization-monitor.git
[submodule "runners-logging-ui"]
	path = runners-logging-ui
	url = https://github.com/fiji-hpc/runners-logging-ui.git
